/* src/components/Login.module.css */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #A890B0;
    overflow: hidden;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    z-index: 1;
  }
  .logo {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
    color: #F0E8E6;
  }
  .comment {
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
    font-style: italic;
  }
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 994px;
    padding: 40px 100px;
    background: #673384;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label {
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 20px 0;
    align-self: flex-start;
    color: #F0E8E6;
  }
  .input {
    width: 764px;
    height: 96px;
    padding: 0 20px;
    font-size: 24px;
    border: 1px solid #0a07063b;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.2s;
    box-sizing: border-box;
  }
  .input:focus {
    border-color: #2B1F1A;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  .button {
    width: 764px;
    height: 72px;
    background-color: #E09303;
    color: #F0E8E6;
    font-size: 28px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
  }
  .button:hover {
    background-color: #E09303;
  }
  .button:active {
    background-color: #568A53;
  }
  